@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

/* Konfigurasi ini memaksa Tailwind v4 untuk menggunakan class '.dark' 
   alih-alih membaca prefers-color-scheme (media query OS). 
   Karena di main.jsx class 'dark' sudah dihapus, maka dark mode mati total. */
@custom-variant dark (&:is(.dark *));



body {
  font-family: 'Inter', sans-serif;
  background-color:  #f6ebd8;
  margin : 0 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

.scrollbar-hide::-webkit-scrollbar {
  height: 8px;
}
.scrollbar-hide::-webkit-scrollbar-thumb {
  background: #bd4135;
  border-radius: 4px;
}
.scrollbar-hide::-webkit-scrollbar-track {
  background: #f5edec;
}


